@charset "utf-8";

/* icon */

.m-icn-new{
    position:relative;
    &:before{
        content: "NEW";
        position:absolute;
        top:0;
        left:0;
        z-index:2;
        display:block;
        background:#528199;
        width:45px;
        height:30px;
        color:#fff;
        text-align: center;
        font-size:14px;
        font-size:1.4rem;
        line-height:30px;
    }
}