@charset "utf-8";

/* loading */
.loading {
    display:block;
    width: 100%;
    height: 100vh;
    top:0;
    position:fixed;
    z-index:9999;
    background:#fff;
}

.loading-box{
    position:relative;
    width:100%;
    height:100%;
    &-bar{
        position:absolute;
        top:0;
        left:0;
        margin:auto;
        width: 0;
        height: 5px;
        background: #ff7e5f; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #ff7e5f , #feb47b); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #ff7e5f , #feb47b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}

.loading-box_item {
    position:absolute;
    top:180px;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    background:url(/assets/img/cmn/logo.png) no-repeat center top;
    background-size:258px;
}

.loading-box_item_tit{

}