@charset "utf-8";

.top-hero{
    position:relative;
    background:url(/img/top/bg_top_hero.jpg) no-repeat center top;
    background-size:cover;
}

.top-hero-sns{
    position:absolute;
    top:10px;
    left:15px;
    &-insta{
        display:inline-block;

        width:35px;
        padding-right:5px;
    }
    &-fb{
        display:inline-block;

        width:35px;
    }
}

.top-hero-inr{
    padding:180px 0 20px;
    &-logo{
        width:258px;
        margin:0 auto 30px;
    }
    &-message-area{
        text-align: center;
    }
    &-message{
        // max-width: 270px;
        margin: 0 auto 20px;
        display:inline-block;
        text-align: center;

        font-size:14px;
        font-size:1.4rem;
        font-weight: bold;
        position:relative;
        &:before{
            content:"";
            width:18px;
            height:32px;
            position:absolute;
            top: 0;
            left: -10px;
            background:url(/img/top/bg_catchphrase_left.png) no-repeat center top;
            background-size:18px 32px;
        }
        &:after{
            content:"";
            width:18px;
            height:32px;
            position:absolute;
            right: -10px;
            top: 0;
            background:url(/img/top/bg_catchphrase_right.png) no-repeat center top;
            background-size:18px 32px;
        }
    }
    &-time{
        display:table;
        margin:0 auto 15px;
        text-align: center;
    }
    &-time_date{
        display:table-cell;
        height:95px;
        width:146px;

        text-align: center;
        vertical-align:middle;

        font-size:20px;
        font-size:2.4rem;
        font-weight: bold;

        background:url(/img/top/bg_table.png) no-repeat center top;
        background-size:146px 95px;
    }
    &-btn{
        position: relative;
        display:block;

        width: 80%;
        max-width:280px;
        margin: 0 auto;
        padding: 15px 0 15px 15px;

        text-align: center;

        color: #000;
        border-radius: 10px;
        background: #f0d208;

        font-size: 15px;
        font-size:1.5rem;
        font-weight: 600;
        &:before{
            position: absolute;
            top: 18px;
            bottom: 0;
            left: 33%;

            width: 14px;
            height: 15px;

            content: '';

            background: url(/img/cmn/icn_serch.png) no-repeat center top;
            -webkit-background-size: 14px 15px;
            background-size: 14px 15px;
        }
    }
}

.top-service{
    position:relative;

    padding:50px 0 40px;

    background:url(/img/top/bg_service.png) no-repeat center top;
    background-size:cover;
    &-logo{
        width:127px;
        margin:0 auto 20px;
    }
    &-lead{
        margin:0 0 10px;

        text-align: center;

        font-size:15px;
        font-size:1.5rem;
        font-weight: bold;
    }
    &-txt{
        text-align: center;

        font-size:13px;
        font-size:1.3rem;
    }
}

.pickup{
    &-inr{
        background:#93bbc7;
        &-logo{
            width:195px;
            margin:0 auto;
            padding:30px 40px 60px 0;
        }
    }
}

.pickup-list{
    width:100%;
    margin:0 auto;
    margin-top:30px;

    background:#fff;

    font-size:0;
}

.pickup-list-item{
    display:inline-block;

    width:49%;
    margin:0 1% 0 0;

    text-align: center;
    &:first-child{
        .pickup-list-item_img{
            margin-top:-70px;
        }
    }
    &:nth-child(2){
        .pickup-list-item_img{
            margin-top:-70px;
        }
    }
    &:nth-child(2n){
        margin:0 0 0 1%;
    }
    &_title{
        margin:5px 0;

        text-align:left;
        word-wrap:break-word;

        font-size:1.4rem;
        font-size:14px;
    }
    &_txt{
        margin-bottom:15px;

        text-align:left;
        word-wrap:break-word;

        font-size:1.2rem;
        font-size:12px;
    }
}


.blog{
    &-inr{
        background:#d2b2bb;
        &-logo{
            width:133px;
            margin:0 auto;
            padding:30px 20px 60px 0;
        }
    }
}

.blog-list{
    width:100%;
    margin:0 auto;
    margin-top:30px;

    background:#fff;

    font-size:0;
}

.blog-list-item{
    width:100%;
    margin:0 auto;
    padding:0;

    text-align: center;

    border-bottom:1px solid #ddd;
    &_img{
        display:inline-block;

        width:44%;

        vertical-align: top;
    }
    &-box{
        display:inline-block;

        width:55%;
        padding-left:1%
    }
    &_title{
        margin:0 10px 10px;

        text-align:left;
        word-wrap:break-word;

        font-size:1.4rem;
        font-size:14px;
    }
    &_txt{
        padding:0 15px 0;

        text-align:left;
        word-wrap:break-word;

        font-size:1.2rem;
        font-size:12px;
    }

    &:first-child{
        margin-top:-70px;
        padding-top:0;
        .blog-list-item_img{
            width:100%;
            margin-bottom:10px;
        }
        .blog-list-item_title{
            font-size:15px;
            font-size:1.5rem;
        }
        .blog-list-item_txt{
            padding-bottom:10px;
            font-size:13px;
            font-size:1.3rem;
        }
    }
}
